	<div id="user-info">

      
      <div class="make-box">
		<input class="create-item" type="button" value="Create field">
	
		<input class="create-batch" type="button" value="Create batch">
		</div>
	       <div class="user-field">  <label>Full Name:</label><input type="text" name="full_name" value="{{item.fullName}}"> </div>
	       <div class="user-field"> <label>Address:</label><input type = "text" name="address" value="{{item.address}}"> </div>
	       <div class="user-field"> <label>Pay Pal Email:</label><input type="text" name="pay_pal_email" value="{{item.payPalEmail}}"> </div>
	       <div class="user-field">  <label>Start date:</label><input type="text" name="start_date" value="{{item.startDate}}"> </div>
	       <div class="user-field">  <label>End date:</label><input type = "text" name="end_date" value="{{item.endDate}}"> </div>
	     

    </div>
       <ul class="heading-tiles">
     
        <li>
            <span class="date-heading">Date</span>
        </li>
        <li>
            <span class="student-heading">Student</span>
        </li>
        <li>
            <span class="rate-heading">Rate <p class="set-all-rate small-font">Click to set</p></span>
        </li>
        <li>
            <span class="quantity-heading">Quantity <p class="set-all-quantity small-font">Click to set</p></span>
        </li>
        <li>
            <span class="total-heading">Total</span>
        </li>
    </ul>